<div class="home">
  <div class="description-item">
    <div class="main-content">
      <h2>Numeración romana</h2>
      <hr>
      <p>
        La <b>numeración romana</b> es un sistema de numeración que se desarrolló en la Antigua Roma y se utilizó en
        todo el Imperio romano, manteniéndose con posterioridad a su desaparición y todavía utilizado en algunos
        ámbitos.

        Este sistema emplea algunas letras mayúsculas como símbolos para representar ciertos valores. Los números se
        escriben como combinaciones de letras. Por ejemplo, el año 2019 se escribe como MMXIX, donde cada M representa
        1000 unidades, la X representa 10 unidades más y IX representa 9 unidades más (al ser X, que representa el 10,
        precedido por I, que representa el 1).
      </p>
    </div>
    <div class="aside">
      <img class="responsive-img img-numbers" src="../../../assets/images/roman-numbers.jpg" alt="">
      <small>numeración romana del 1 al 100</small>
    </div>
  </div>

  <div class="description-item">
    <div class="main-content">
      <h2>Imperio romano</h2>
      <hr>
      <p>
        El <b>Imperio romano</b> fue el tercer periodo de civilización romana en la Antigüedad clásica, posterior a la
        República romana y
        caracterizado por una forma de gobierno autocrática. El nacimiento del Imperio viene precedido por la
        expansión de su capital, Roma, que extendió su control en torno al mar Mediterráneo.
        <br>
        Bajo la etapa imperial los dominios de Roma siguieron aumentando hasta llegar a su máxima extensión durante el
        reinado de Trajano, momento en que abarcaba desde el océano Atlántico al oeste hasta las orillas del mar
        Caspio, el mar Rojo y el golfo Pérsico al este, y desde el desierto del Sahara al sur hasta las tierras
        boscosas a orillas de los ríos Rin y Danubio y la frontera con Caledonia al norte. Su superficie máxima
        estimada sería de unos 6,5 millones de km
      </p>
    </div>
    <div class="aside">
      <img class="responsive-img img-rome" src="../../../assets/images/old-rome.png" alt="">
      <small>Anigua Roma</small>
    </div>
  </div>
</div>
