$red-color: #f44336;
$red-dark-color: #c62828;
$red-light-color: #ffcdd2;

$green-color: #4caf50;
$green-dark-color: #2e7d32;
$green-light-color: #c8e6c9;

$teal-color: #009688;
$teal-dark-color: #00695c;
$teal-light-color: #b2dfdb;

$black-color: #000000;
$black-dark-color: darken($black-color, 40%);
$black-light-color: lighten($black-color, 40%);

$square-border: 1px solid gray;
