<div class="app-container">
  <nav class="app-header">
    <span class="brand-span">Decimal a Romanos</span>
    <ul>
      <li class="nav-option" routerLink="/home">Inicio</li>
      <li class="nav-option" routerLink="/about">Acerca</li>
    </ul>
  </nav>

  <div class="app-content">
    <div class="form-container">
      <app-form></app-form>
    </div>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">
    <p class="right-align">
      Developed by <b>juanArias8</b> with love ♥ <b>Medellín Colombia</b>
    </p>
  </div>
</div>

